<section class="bg-color">
  <div class="containers">
    <div class="title">
      <p>MARIAMA</p>
      <h1>SEN BEST PRODUIT</h1>
    </div>
  </div>
</section>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-4" *ngFor="let produit of produits">
      <div class="card mb-4">
        <img [src]="produit.imageUrl" class="card-img-top" alt="{{ produit.titre }}" height="350px">
        <div class="card-body">
          <h5 class="card-title">{{ produit.titre | uppercase }}</h5>
          <p class="card-text">Prix: {{ produit.prix | currency:'EUR':'symbol':'1.2-2' }}</p>
          <button class="btn btn-primary" (click)="afficherDetail(produit)">Voir les détails</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailModalLabel">{{ selectedProduit?.titre | uppercase }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Prix: {{ selectedProduit?.prix | currency:'EUR':'symbol':'1.2-2' }}</p>
                <img [src]="selectedProduit?.imageUrl" alt="{{ selectedProduit?.titre }}" class="img-fluid" style="max-height: 300px;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
  <app-detail *ngIf="selectedProduit" [produit]="selectedProduit"></app-detail></div>