<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


<section class="bg-color">
  <div class="containers">
    <div class="title">
      <p>HAIRE LOVE</p>
      <h1>SEN BEST <span>PRODUIT</span></h1>
    </div>
    <div class="row">
      <div class="col-md-3" *ngFor="let produit of produits">
        <div class="card">
          <div class="card-main">
            <div class="discount">9%</div>
            <div class="label labe-green">{{ produit.titre | uppercase }}</div>
            <div class="image">
              <img [src]="produit.imageUrl" alt="{{ produit.titre }}" height="350px" (click)="afficherDetail(produit)">
            </div>
            <div class="cart-line"></div>
            <div class="cart-item">
              <ul>
                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                <li><a href=""><i class="fa fa-heart"></i></a></li>
                <li><a href=""><i class="fas fa-cog"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="content">
            <a href="">Mariama</a>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <p><span class="money">Prix: {{ produit.prix | currency:'EUR':'symbol':'1.2-2' }}</span> <span class="old-price">{{ produit.prix | currency:'EUR':'symbol':'1.2-2' }}</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-detail *ngIf="selectedProduit" [produit]="selectedProduit"></app-detail>
</section>
